body { background: #050505; color: #00ff00; font-family: 'Courier New', monospace; margin: 0; }
#app { height: 100vh; display: flex; flex-direction: column; padding: 10px; }
.tab-content { display: none; }
.tab-content.active { display: block; }
.bottom-nav { display: grid; grid-template-columns: repeat(7, 1fr); gap: 2px; margin-top: auto; padding-bottom: 10px; }
button { background: #002200; border: 1px solid #00ff00; color: #00ff00; padding: 10px 0; }
button.active { background: #00ff00; color: #000; }
.bars { display: flex; gap: 4px; margin-top: 5px; }
.block { width: 20px; height: 30px; border: 1px solid #00ff00; }
.block.filled { background: #00ff00; }
#gameCanvas { width: 100%; height: 300px; background: #000; border: 2px solid #00ff00; }
.game-card { border: 1px solid #00ff00; padding: 20px; cursor: pointer; text-align: center; }
button {
    background: #003300;
    border: 1px solid #00ff00;
    color: #00ff00;
    cursor: pointer;
    padding: 2px 8px;
}
button:hover { background: #00ff00; color: #000; }
/* Анимация появления */
@keyframes flicker {
    0% { opacity: 0; transform: scale(0.9); }
    100% { opacity: 1; transform: scale(1); }
}

#info-modal {
    animation: flicker 0.3s ease-out; /* Плавное появление за 0.3 секунды */
    box-shadow: 0 0 15px #00ff00;    /* Добавим свечение окну */
}
